<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="common model processor"
         name="Common model processor"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="false"
            class="pocs3_common_model.processor.CommonModelProcessor">
      </processor>
   </extension>
</plugin>
