<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="pocS3 profile declaration processor"
         name="Profile declaration processor"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="false"
            class="pocs3_profile_loader.ProfileLoaderProcessor">
      </processor>
   </extension>
</plugin>
