<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="PocS3_l3d.processor"
         point="org.eclipse.e4.workbench.model">
      <processor
            class="pocs3_l3d.L3dProcessor"
            beforefragment="false">
      </processor>
   </extension>
   <extension
         id="PocS3_l3d.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="L3D_fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
