<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="PocS3_EAP"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="PocS3_EAP">
         </property>
         <property name="applicationXMI" value="PocS3_EAP/PocS3_Application.e4xmi"> </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="application_board_perspective_activated">
         <with
               variable="pocS3.activePerspectiveId">
            <equals
                  value="pocs3_eap.perspective.application_board">
            </equals>
         </with>
      </definition>
   </extension>
  <extension
     id="PocS3_EAP.processor"
     point="org.eclipse.e4.workbench.model">
  <processor
        class="pocs3_eap.processor.EapProcessor"
        beforefragment="false">
  </processor>
   </extension>
</plugin>
